@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    height: 1000px;
}
.home{
    background: linear-gradient(to right, salmon, #FF5A60);
    padding: 30px 100px;
    height: 100vh;
    position: relative;
    z-index: 99;
    overflow: hidden;
    border-radius: 0 0 0 100px;
}
.home .navbar{
    display: flex;
    justify-content: space-between;
}
.home .navbar .label{
    font-size: 2em;
    margin-right: 100px;
    font-weight: 800;
    color: #fff;
    z-index: 9999;
}
.home .navbar .nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.home .navbar .nav ul{
    display: flex;
    list-style: none;
    overflow: hidden;
}
.home .navbar .nav ul li a{
    display: flex;
    align-items: center;
}
.home .navbar .nav ul li a:hover{
    text-decoration: underline;
}
.home .navbar .nav ul li span{
    margin-left: 5px;
}
.home .navbar .nav ul li{
    overflow: hidden;
}
.home .navbar .nav ul li .overflow{
    margin-left: 10px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 10px;
    position: absolute;
    /* top: -600px; */
    display: none;
}
.home .navbar .nav ul li .overflow.active{
    display: block;
}
.home .navbar .nav ul li .overflow ul{
    display: flex;
    flex-direction: column;
    padding: 10px 50px 10px 0;
}
.home .navbar .nav ul li .overflow ul li a{
    color: #000;
    padding: 10px 0;
}
.home .navbar .nav ul li a, .button-login a{
    margin: 0 20px;
    color: #fff;
    text-decoration: none;
}
.button-login a:nth-last-child(1) {
    background-color: #fff;
    color: salmon;
    padding: 10px 30px;
    border-radius: 32px;
}
.button-login a:nth-last-child(1):hover{
    background-color: rgb(255, 164, 154);
    color: #fff;
}
.home .text-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
.home .text-content .judul{
    font-size: 3em;
    font-weight: 500;
}
.home .text-content p{
    margin: 30px 0;
}
.home .text-content .button-content{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
.home .text-content .button-content a{
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    padding: 15px 30px;
    border: 1px solid #fff;
    border-radius: 32px;
    font-weight: 600;
}
.home .text-content .button-content a:hover{
    background-color: #fff;
    color: salmon;
}
.home .text-content .button-content a:nth-child(1){
    background-color: #fff;
    color: salmon;
}
.home .text-content .button-content a:nth-child(1):hover{
    color: #fff;
    background-color: rgb(255, 164, 154);
    border: 1px solid rgb(255, 164, 154);
}
.home .bg img{
    height: 1800px;
    width: 2000px;
    position: absolute;
    top: -600px;
    right: -500px;
    z-index: -1;
    object-fit: cover;
}
.home .navbar .humberger-menu{
    display: none;
    
}


/* container kedua */
.container-dua{
    /* background-color: red; */
    padding: 50px 0;
}
.container-dua .judul{
    /* background-color: red; */
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}

.container-dua .content-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 100px;
    padding-left: 100px;
}
.container-dua .content-container .content .card{
    padding: 30px 0;
}
.container-dua .content-container .content .card h4{
    font-size: 1.5em;
    margin-bottom: 10px;
}
.container-dua .content-container .content .card p{
    color: rgba(0, 0, 0, 0.5);
    /* width: 400px; */
}
.container-dua .content-container .img{
    /* background-color: red; */
    overflow: hidden;
}
.container-dua .content-container .img img{
    height: 600px;
    width: 600px;
    margin-right: -100px;
    object-fit: cover;
}
.container-dua .content-container .img .mobile{
    display: none;    
}


/* section banner mobile */
.section-mobile{
    background-color:  hsl(208, 49%, 24%);
    position: relative;
    margin-top: 100px;
    border-radius: 0 50px 0 50px;
    
    /* padding: 0 100px; */
}
.section-mobile .wrapp{
    overflow: hidden;
    /* background-color: red; */
}
.section-mobile .wrapp .banner{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'kiri kanan'
    'kiri kanan';
    padding: 0 50px;
    place-items: center;
}
.section-mobile .banner .circle img{
    position: absolute;
    top: -500px;
    left: -300px;
    z-index: 999;
    
}
.section-mobile .banner .circle{
    grid-area: kiri;
    background-color: blue;
}
.section-mobile .banner .text-content{
    grid-area: kanan;
    padding: 110px 0;
    color: #fff;
    /* background-color: red; */
}
.section-mobile .banner .text-content h3{
    font-size: 2em;
}
.section-mobile .banner .text-content P{
    color: rgba(250, 250, 250, 0.5);
    padding: 20px 0;
}
.section-mobile .phone-img{
    /* height: 500px;
    width: 500px; */
    position: absolute;
    top: -100px;
    left: 0;
    z-index: 9999;
}
.section-mobile .phone-img img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 980px){
    .home .navbar{
        position: relative;
    }
    .home .navbar .nav{
        display: block;
        background-color: #fff;
        position: absolute;
        top: -1000px;
        text-align: center;
        padding: 50px 0;
        width: 100%;
        left: 0;
        transition: all 1s ease;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    }
    .home .navbar .nav.active{
        top: 100px;
    }
    .home .navbar .nav ul{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .home .navbar .nav ul .list a{
        text-align: center;
        margin: 20px 0;
        color: #000;
    }
    .home .navbar .nav .button-login{
        display: block;
    }
    .button-login a{
        color: #000;
    }
    .button-login a:nth-last-child(1){
        background-color: salmon;
        color: #fff;
    }
    .home .navbar .nav ul .list .link{
        padding: 0 100px;
        text-align: center;
    }
    .home .navbar .nav ul li .overflow{
        position: inherit;
        display: none;
    }
    .home .navbar .nav ul li .overflow ul {
        padding: 0;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }
    .home .navbar .nav ul li .overflow li a{
        text-align: center;
        margin: 0;
    }
    .home .navbar .humberger-menu{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container-dua .content-container{
        grid-template-columns: 1fr;
        grid-template-areas: 'img img'
        'text text'
        ;
        padding: 0;
        gap: 0;
    }
    .container-dua{
        margin: 50px 0;
        /* background-color: red; */
        text-align: center;
    }
    .container-dua .content-container .content{
        grid-area: text;
        padding: 0 100px;
    }
    .container-dua .content-container .img{
        grid-area: img;
        /* background-color: blue; */
    }
    .container-dua .content-container .img .dekstop{
        display: none;
    }
    .container-dua .content-container .img .mobile{
        display: inherit;
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
        margin-right: 0;
        margin-top: 20px;
    }
    .section-mobile .wrapp .banner{
        grid-template-columns: 1fr;
        grid-template-areas: 'kiri kiri'
        'kanan kanan';
    }
    .section-mobile .banner .circle{
        grid-area: kiri;
    }
    .section-mobile .banner .text-content{
        grid-area: kanan;
        z-index: 9999999;
        margin-top: 500px;
    }
    
}

@media screen and (max-width: 600px){
    .home{
        padding: 20px;
    }
    .home .text-content{
        padding: 0;
    }
    .home .text-content .button-content a{
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
        padding: 15px 20px;
    }
    .container-dua{
        padding: 20px;
    }
    .container-dua .content-container .content{
        grid-area: text;
        padding: 0 10px;
    }
    .section-mobile .banner .text-content{
        margin-top: 450px;
        padding: 0;
    }
    .section-mobile .wrapp .banner{
        padding: 0 20px;
    }
}

@media screen and (max-width: 480px){
    .home .text-content .button-content a{
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
        padding: 10px 12px;
    }
    .home .text-content .judul{
        font-size: 2em;
    }
    .section-mobile .banner .text-content{
        margin-top: 300px;
    }
    .section-mobile .banner .text-content h3{
        font-size: 2em;
        text-align: center;
    }
    .section-mobile .banner .text-content p{
        text-align: center;
    }
}